header {
    background-color: #273444;
    width: 100%;
    color: #fff;
    padding: 2.5vh 2vw;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}

@media only screen and (max-width: 400px) {
    header {
        font-weight: 500;
    }
}